body {
    min-width: 100%;
    min-height: 100%;
}

main {
  margin-top: 75px;
  margin-bottom: 50px;
}

legend {
    font-weight: bold;
    color: rgb(21, 10, 173);
}

.alert {
    margin-top: 75px;
}

.errorlist {
  margin-top: 75px;
  color: red;
  font-weight: bold;
}

.table td.fit,
.table th.fit {
  white-space:nowrap;
  width: 1%;
  text-align: center;
}
