{% extends 'expense_tracking/layout.html' %}
{% load static %}
{% block title %}Expenses{% endblock %}
{% block body %}
  <main>
    <legend class="border-bottom mb-4">
        Expense List
    </legend>
    <table class="table table-bordered">
      <thead class="alert-secondary">
        <tr>
          <th class="fit">Expense Date</th>
          <th class="fit">Expense Type</th>
          <th class="fit">Expense</th>
          <th class="fit">Organization</th>
          <th class="fit">Amount</th>
          <th class="fit">Notes</th>
          <th class="fit"></th>
        </tr>
      </thead>
      <tbody>
        {% for expense in my_expenses %}
          <tr>
            <td class="fit">{{ expense.expense_date }}</td>
            <td class="fit">{{ expense.expense_type }}</td>
            <td class="fit">{{ expense.name }}</td>
            <td class="fit">{{ expense.org }}</td>
            <td class="fit">$ {{ expense.amount }}</td>
            <td class="fit">{{ expense.notes }}</td>
            <td class="fit">
              <a
                id="conf_del"
                href="{% url 'expense_tracking:delete_expense' expense.id %}"
                class="btn btn-danger btn-sm"
                onclick="return confirmDelete()"
              >
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
        function confirmDelete(){
          var res = confirm('Are you sure you want to delete this record?');

          if(res) {
            return true;
          } else {
            return false;
          }
        }
    </script>
  </main>
{% endblock %}
