{% extends 'expense_tracking/layout.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% load widget_tweaks %}
{% block body %}
<main>
    <legend class="border-bottom mb-4">
       Login
    </legend>
    <div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" required=true>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" required=true>
              </div>
            </div>
            <br />
            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
              {% render_field form.captcha%}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                  <button class="btn btn-sm btn-primary" type="submit">Login</button>
              </div>
            </div>
        </form>
    </div>
    <div>
        If you do forgot your password, <a href="{% url 'expense_tracking:password_reset' %}"><strong>reset</strong></a> now.
    </div>
</main>
{% endblock %}
